<%-include("../Home/header")-%>


  <div class="flex ">
    <%-include("../Home/sidebar")-%>
      <!-- main star -->
      <main class="bg-custom4-700 w-11/12  bg-Pattren2 ">
        <div id="Dashboard" class=" w-full h-full   overflow-hidden relative ">
          <div class="overlay bg-custom1-700  bg-opacity-70 p-4 w-full h-full  overflow-y-auto absolute ">

            <!--=============================================== main ======================================-->



          </div>
        </div>
      </main>
      <!-- main star -->
  </div>
  <!-- ======================================================================================================= -->
  <%-include("../Home/footer")-%>