  <!-- footer start -->
  <footer class="bg-custom2-500 text-center text-sm z-10 ">
    <p>All Right 2024 &copy; Billzy Craft reserve by Deep solz</p>
  </footer>
  <!-- footer end -->
</body>

<!-- </html>box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; -->