<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link tailwind css output file -->
  <link rel="stylesheet" href="/dist/output.css">
  <title>Billzy Craft</title>
</head>

<body class="bg-custom1-500  overflow-hidden flex flex-col  justify-between text-custom4-500 relative">
  <!-- Navbar -->
  <nav class="w-full bg-custom2-500 flex  bg-Pattren1 justify-between flex-row items-center px-6 py-4 ">
    <div class="flex items-center">
      <h1 class="text-2xl font-bold ml-2 uppercase tracking-widest ">Billzy-Craft</h1>
    </div>
  </nav>
  <!-- Navbar -->
